.table {
    table-layout: fixed;
    overflow: auto;
}
.container-wrapper {
    height: 100%;
    mergin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
}

.home-image {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.login-box {
    text-align: center;
}

login-container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}